/*
    LogView.razor.css
*/
.log-component-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between toolbar and log view */
}

.log-filter-toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #3c3f41;
    border-radius: 5px;
}

.log-view-container {
    flex-grow: 1; /* Make the log container fill the remaining space */
    min-height: 0; /* Flexbox fix for overflow */

    overflow-y: scroll;
    overflow-x: auto;
    background-color: #2b2b2b;
    color: #f0f0f0;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.875rem;
    padding: 10px;
    border-radius: 5px;
}

::deep .log-entry {
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
}

::deep .log-message {
    white-space: nowrap;
    flex-shrink: 0;
}

.log-timestamp {
    color: #888888;
}

/* --- Log Level Colors --- */
.log-trace {
    color: #999999;
}

.log-debug {
    color: #77b6ff;
}

.log-info {
    color: #86de74;
}

.log-warning {
    color: #ffae42;
}

.log-error {
    color: #ff6666;
}

.log-critical {
    color: #ff3333;
    font-weight: bold;
}
